@import "../../shared/styles/variables.css";

/* @TODO ajustar responsividade */
@media (max-width: 800px) {
  .content-wrapper {
    flex-flow: column;
  }

  .cta {
    width: 60% !important;
    border-radius: 10px 10px 0px 0px !important;
  }

  .login-action {
    width: 60% !important;
    border-radius: 0px 0px 10px 10px !important;
  }

  .login-action .spacer {
    margin-top: 94px;
  }
}

.content-wrapper {
  width: 80%;
  max-width: 1024px;
  height: 600px;
  display: flex;
}

h1,
h2 {
  font-size: var(--h1-text-size);
  font-weight: 700;
}

.social-login button{
    width: 100% !important;
}

.header {
  height: 75px;
}

.spacer {
  margin-top: 45px;
}

.cta {
  background-color: var(--primary-color);
  width: 30%;
  border-radius: 10px 0px 0px 10px;
  padding: 69px;
  color: var(--background-white);
}

.login-action {
  background-color: var(--background-white);
  width: 70%;
  border-radius: 0px 10px 10px 0px;
  padding: 69px;
}

.login-and-recovery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator {
    margin: 16px 0;
    display: flex;
    align-items: center;
}

.separator p {
  padding: 0 8px 0 8px;
}

.separator:before,
.separator:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.login-action .spacer .input-wrapper:not(:first-child),
.login-action .spacer .login-and-recovery {
  margin-top: 16px;
}