:root {
    --primary-color: #00558D;
    --link-color: #37AFFF;
    --background-grey: #EEEEEE;
    --background-white: white;
    --dark-grey: #c8c8c8;
    --text-color: black;
    --h1-text-size: 32px;
}